@font-face {
    font-family: 'Dosis';
    src: url(../fonts/Dosis-Regular.ttf);
}

* {
    box-sizing: border-box;
}

/*Header*/
header {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    z-index: 1000;
    background: #fff;
    width: 100%;
    height: 60px;
    position: fixed !important;
    border-bottom: 1px solid #c0392b;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    line-height: 2rem;
}

header a {
    color: #555;
}

#brand {
    display: inline-flex;
    flex-grow: 13;
    width: 100px;
    align-items: center;
}

.chef-logo {
    order: 0;
    margin-left: 5%;
    margin-right: 3%;
    margin-bottom: 0;
    height: 40px;
    width: 25px;
}

#brand h1{
    font-size: 2.3rem;
    order: 1;
    margin: 0;
}

header .material-icons {
    /*flex-grow: 1;*/
    font-size: 2.5rem;
}

#menu-icon {
    margin-right: 5%;
    order: 3;
}

#mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*padding-top: 10px;
    padding-bottom: 10px;*/
    padding: 0;
    position: fixed;
    z-index: 5;
    top:60px;
    list-style-type: none;
    width: 100%;
    height: 100px;
    background-color: white;
    font-size: 2rem;
    border-bottom: 1px solid #b43504;
    font-family: 'Dosis', sans-serif;
}

#mobile-menu:first-child {
    margin-bottom: 50px;
}

#mobile-menu * {
    color: #555 !important;
}

#mobile-menu *:hover {
    color: #e67e22 !important;
    cursor: pointer;
}

#login-icon, #fav-icon {
    display: none;
}

.main-nav {
    list-style: none;
    display: none;
    margin: 0;
}

a {
    text-decoration: none !important;
    color: white;
}


/*Footer*/
footer {
    font-family: 'Dosis', sans-serif;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-top: 2px solid #c0392b;
    color: #fff;
    background-color: #e67e22;
    height: 75px;
}

footer * {
    max-width: 90%;
    text-align: center;
}

footer a {
    color: #ffda9b;
    text-shadow: 1px 1px 0 #b43504;
}

/*Media Queries*/
@media (min-width: 600px) {
    header {
        height: 55px;
    }

    #mobile-menu {
        top:55px;
    }

    .main-nav {
        order: 1;
        /*flex-basis: 16em;*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .main-nav li {
        font-size: 16px;
    }

    #menu-icon {
         display: none;
     }

     #login-icon, #fav-icon {
         display: block;
     }

    #login-icon {
        order: 3;
        margin-right: 3%;
    }

    #fav-icon {
        order: 2;
    }

    header .material-icons {
        flex-grow: 0;
        margin-left: 3%;

        /*padding-left: 3%;*/

    }
}

@media (min-width: 720px){
    .main-nav {
        max-width: 350px;
    }
}

/*Pseudo Classes*/
header a:hover {
    color: #c0392b;
}

header a:active, header i:active  {
    color: #c0392b !important;
}


#favourite_border:active {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
    border-color: #ffc36d;
}

#favourite_border {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease
}

/*Print Style*/
@media print {
    header, footer {
        display: none;
    }
}
