#pages {
    padding: 0;
    list-style-type: none;
    display: inline-flex;
    width: 100%;
    margin: auto;
    justify-content: center;
}

#pages li {
    font-size: 2rem;
    margin: 30px 5px;
    padding: 3px;
    border-radius: 5px;
    width: 35px;
    background-color: #e67e22;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pages li:hover {
    background-color: #c0392b !important;
    cursor: pointer;
}