#account_info {
    position: fixed;
    z-index: 1000;
    right: 5px;
    top: 70px;
    width: 20%;
    /*height: 180px;*/
    background-color: white;
    border: 1px solid #c0392b;
    border-radius: 5px;
    margin-top: 0px !important;
    padding: 10px;
    font-size: 1.5rem;
}

#account_info button {
    margin-top: 10px;
}

#account_info #signup-button {
    margin-left: 30px;
}

#signup {
    position: fixed;
    z-index: 100;
    top: 100px;
    right: 25%;
    width: 50%;
    /*height: 70vh;*/
    border: 1px solid #c0392b;
    font-size: 2rem;
    background: white;
    border-radius: 5px;padding: 20px 0;
}

#signup .input-group {
    margin-left: 10px;
    margin-bottom: 20px;
    width: 50%;
}

#signup button {
    margin-left: 10px;
}

#signup label {
    color: #555555;
    font-weight: normal;
}