#posliRecept > .input-group:first-child {
    margin-top: 40px;
}

#posliRecept table tr:nth-child(1) {
    height: 20px !important;
}

#posliRecept #ingredience {
    position: absolute;
    top: 20px;
    right: 20px;
    /*width: 200px;*/
}

#ingredience tr {
    height: 40px;
    padding-top: 5px;
}

#posliRecept > * {
    margin-top: 20px;
}

#posliRecept tr {
    border-collapse:separate;
    border-spacing:5em;
}

#posliRecept td:nth-child(1), th:nth-child(1) {
    width: 60px;
    padding-right: 20px;
}

#posliRecept td:nth-child(2), th:nth-child(2) {
    width: 30px;
    padding-right: 5px;
}

#posliRecept td:nth-child(3), td:nth-child(3) {
    width: 20px;
}

#posliRecept #zeme-puvodu {
    margin-right: 57px;
}

#posliRecept input, #posliRecept textarea {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#posliRecept button {
    margin-top: 0px;
    margin-bottom: 20px;
}

#novyRecept .close-btn {
    font-size: 3rem !important;
    position: absolute;
    right: 5px;
    top: 10px;
}

#ingredience-buttons td:last-child {
    padding-left: 5px;
}
