body {
    box-sizing: border-box;
    background-color: rgba(230, 126, 34, 0.05);
}

#container {
    margin-top: 30px;
}

#pridej-recept {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
    padding-top: 100px;
    margin: auto auto 10px;
}

#pridej-recept button {
    color: #b43504;
    border-color: #b43504;
}

#novyRecept {
    z-index: 600;
    font-size: 1.5rem;
    position: absolute;
    top: 100px;
    width: 100%;
    /*height: 75vh;*/
    background-color: white;
    z-index: 20;
    margin: auto;
    padding: 0 2%;
    -webkit-box-shadow: 0px 7px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 7px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 7px 10px 0px rgba(50, 50, 50, 0.75);
}

#novyRecept .edit-btn {
    font-size: 3rem !important;
    position: absolute;
    right: 60px;
    top: 20px;
}

#pozadiReceptu:hover, #novyRecept .edit-btn:hover, #novyRecept .close-btn:hover {
    cursor: pointer;
}

#novyRecept .edit-btn:hover, #novyRecept .close-btn:hover {
  color: #d47c07;
}

.alert {
  z-index: 1000;
  position: fixed;
  top: 100px;
  left: 30%;
  width: 40%;
  text-align: center;
}

textarea {
    resize: none;
}

.modal-dialog {
    margin-top: 100px;
}

#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #e67e22; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    z-index: 300;
    position: absolute;
    top: 200px;
    left: 45.5%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (min-width: 480px) {

    #novyRecept {
      top:100px;
      width: 90%;
      right: 5%;
      border: 1px solid #b43504;
      border-radius: 5px;
    }

    #chybaVlozeni, #uspesneVlozeni {
      /*top: 20px;*/
      left: 5%;
      width: 90%;
    }
}

@media (min-width: 720px) {
    #pridej-recept {
      max-width: 800px;
    }

    #novyRecept {
      width: 60%;
      right: 20%;
    }

    #chybaVlozeni, #uspesneVlozeni {
      top: 10px;
      left: 15%;
      width: 70%;
    }
}
