@font-face {
    font-family: 'Dosis';
    src: url(../fonts/Dosis-Regular.ttf);
}

@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-Regular.ttf);
}

#chef-logo {
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}

/*Elements*/
body {
    margin: auto;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    color: #c0392b;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /*background-color: rgba(230, 126, 34, 0.05);*/
}

select {
    /*color: white;*/
    /*background-color: black !important;*/
    margin-right: 5px;
    margin-left: 5px;
}

.alert {
    z-index: 900;
    position: fixed;
    top: 75px;
    left: 30%;
    width: 40%;
    text-align: center;
}

#zadneOblibene {
  position: absolute;
  top: 100px;
  left: 5%;
  width: 90%;
  z-index: 4;
  text-align: center;
  font-size: 1.5em;
}

#zobrazFiltr {
  width: 80%;
  left: 10%;
  border: 2px solid #b43504;
  border-radius: 5px;
}

#zobrazFiltr:hover {
  border-color: #e67e22;
  color:#e67e22;
  cursor: pointer;
}

#filtrReceptu .close-btn {
  position: absolute;
  top: -5px;
  right: 10px;
}

#filtrReceptu, #zobrazFiltr {
  z-index: 2;
  position: absolute;
  top: 80px;
  font-size: 2.3rem;
  height: 50px;
  /*color: white;*/
  /*background-color: #b43504;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#filtrReceptu span {
  border-bottom: 2px solid inherit;
}

#filtrReceptu {
    left: 5%;
    width: 90%;
}

#filtrReceptu .btn-group {
    margin: 5px;
    border: none;
}

#filtrReceptu button{
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10px;
    font-size: 2.3rem;
    padding: 0px 10px;
}

.dropdown-menu {
    font-size: 2rem;
}

/*Content*/
#container {
    font-size: 1.6rem;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    margin: auto;
    margin-top: 180px;
    overflow: visible;
}

#container h2 {
    width: 100%;
    margin-top: 0;
}

#pozadiReceptu {
    position:fixed;
    top: 50px;
    bottom: 0px;
    z-index: 10;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.46);
}

#pop-up {
    font-size: 1.2em;
    position:absolute;
    top: 55px;
    right: 0%;
    width: 100%;
    background-color: white;
    z-index: 20;
    margin: auto;
    -webkit-animation-duration: 0.75s;
}

#pop-up-account {
    font-size: 1.8rem;
    position:absolute;
    top:55px;
    left: 0%;
    width: 100%;
    min-height: 70vh;
    background-color: white;
    z-index: 20;
}

#pop-up-account #wrapper {
    margin: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pop-up-account #wrapper table {
    text-align: left;
    margin: 0;
    padding: 0;
}

table caption {
    color: #9b3504 !important;
}

#pop-up-account #wrapper #login-img {
    padding: 0;
    margin-top: 40px;
    font-size: 10rem;
    border-radius: 100%;
    color: #b43504;
    text-align: center;
}

#pop-up-account #wrapper h2 {
    text-align: center;
}

#pop-up-account #popis {
    margin-top: 20px;
    margin-bottom: 20px;
}

#close-btn {
    z-index: 5000;
    font-size: 2rem;
    position: absolute;
    right: 2%;
    top: 10px;
    color: white;
    background-color: rgba(230, 126, 34, 0.67);
    border-radius: 30%;
}

.recept {
    position: relative;
    height: 250px;
    text-align: justify; /*zarovnani do bloku*/
    margin-bottom: 20px;
    border: 1px solid #c0392b;
    /*border-top: 10px solid #b44e23;*/
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    background: no-repeat center;
    background-size: cover;
    cursor: pointer;
}

.recept:last-child {
    margin-bottom: 80px;
}

.recept_info {
    color: #fff;
    background-color: #e67e22;
    opacity: 0.9;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-shadow: 1px 1px 0 #b43504;
}

.recept_info div {
    height: 24px;
}


.recept .fav, .recept .delete {
    z-index: 10;
    font-size: 2.4rem;
    padding: 4px;
    position: absolute;
    background-color: rgba(230, 126, 34, 0.68);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.recept .fav {
    right: 10px;
    top: 10px;
}

.recept .delete {
    right: 10px;
    top: 50px;
}

.clicked {
    background-color: #b43504 !important;
}

.popis_receptu {
    font-size: 1.2em;
    width: 100%;
    text-align: left;
    margin-left: 15px;
    margin-top: 5px;
    display: inline-block;
}

.popis_receptu + div {
    position: absolute;
    left: 15px;
    bottom: 4px;
}

.popis_receptu + div + div {
    position: absolute;
    right: 15px;
    bottom: 6px;
}

.hodnoceni {
    margin-bottom: 5px;
    margin-top: 7px;
    text-align: right;
}

.material-icons {
    font-size: 1em;
}

#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #e67e22; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    z-index: 300;
    position: absolute;
    top: 200px;
    left: 45.5%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*Media queries*/
@media (min-width: 480px) {

    .recept:nth-child(odd) {
        margin-right: 4%;
    }

    #zobrazFiltr {
      width: 40%;
      left: 30%;
    }

    #filtrReceptu {
      /*left: 10%;*/
      width: 100%;
    }

    #filtrReceptu .close-btn {
      position: absolute;
      top: -5px;
      right: 10px;
    }

    #zadneOblibene {
      width: 80%;
      left: 10%;
    }

    #container {
        width: 90%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    #pop-up {
        right: 7.5%;
        width: 85%;
        border-radius: 5px;
        border: 2px solid #b43504;
    }

    #pop-up-account {
        left: 10%;
        width: 80%;
        border: 2px solid #b43504;
        border-radius: 5px;
    }

    #filtrReceptu {
        margin-bottom: 40px;
    }

    .dropdown-menu {
        font-size: 1.7rem;
    }

    .recept_info, .material-icons {
        font-size: 0.9em;
    }

    .recept {
        width: 48%;
        margin-bottom: 20px;
    }
}

@media (min-width: 720px) {

    .recept:nth-child(1n) {
        margin-right: 0px;
    }

    .recept:nth-child(3n+2) {
        margin: 0 2%;
    }

    #zobrazFiltr {
      width: 20%;
      left: 40%;
    }

    #filtrReceptu {
      left: 30%;
      width: 40%;
    }

    #filtrReceptu .close-btn {
      right: -20px;
    }

    #zadneOblibene {
      width: 40%;
      left: 30%;
    }

    #container {
      margin-top: 180px;
    }

    .recept {
        width: 32%;
        align-items: flex-start;
    }

    #pop-up {
        right: 10%;
        width: 80%;
    }

    #pop-up-account {
        left: 15%;
        width: 70%;
    }
}

/*Pseudoclasses*/
.btn-group:hover {
    color: rgba(255, 169, 73, 1);
    cursor: pointer;
}

.btn-group button:hover {
    border-color: rgba(255, 169, 73, 1) !important;
}

.btn-group button:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.recept .fav:hover, .recept .delete:hover {
    background-color: #c0392b;
}

.fav:focus, .recept .delete:focus {
    outline: none;
}

#filtrReceptu .close-btn:hover {
  cursor: pointer;
  color: #e67e22;
}

#pozadiReceptu:hover {
    cursor: pointer;
}

a:hover, a:active, a:visited {
    text-decoration: none !important;
}

/*Styl pro tisk*/
@media print {
    * {
        font-family: serif;
        color: black;
        background-color: white;
        border: none;
    }

    body {
        width: 100%;
    }

    .recept {
        border-style: none;
        color: #000;
        display: block;
        height: 70px;
        margin-bottom: 20px;
    }

    .popis_receptu,.popis_receptu + div,
    .popis_receptu + div + div {
        font-family: serif;
        margin-left: 0;
        position: static;
        font-size: 1rem;
        text-shadow: none;
    }

    #container {
        display: block;
        height: auto;
        width: 100%;
    }

    #filtrReceptu {
        text-align: left;
        font-size: 1rem;
        text-decoration: none;
    }

}

/*Animations*/
.recept:hover, #zobrazFiltr:hover {
    -webkit-transform:scale(1.025); /* Safari and Chrome */
    -moz-transform:scale(1.025); /* Firefox */
    -ms-transform:scale(1.025); /* IE 9 */
    -o-transform:scale(1.025); /* Opera */
    transform:scale(1.025);
    /*border-color: #ffc36d;*/
    -webkit-font-smoothing: antialiased; /*Řeší problém s fontem při zoomu*/
}

.recept, #zobrazFiltr:hover {
    -webkit-transition: all 0.3s ease; /* Safari and Chrome */
    -moz-transition: all 0.3s ease; /* Firefox */
    -ms-transition: all 0.3s ease; /* IE 9 */
    -o-transition: all 0.3s ease; /* Opera */
    transition: all 0.3s ease;
    -webkit-font-smoothing: antialiased; /*Řeší problém s fontem při zoomu*/
}
