#pop-up-account {
    margin: auto;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    -webkit-animation-duration: 0.75s;
    -moz-animation-duration: 0.75s;
    -o-animation-duration: 0.75s;
    -ms-animation-duration: 0.75s;
}

#pop-up-account table {
    text-align: left;
    margin: auto auto 30px;
    width: 95%;
}

#pop-up-account #login-img {
    padding: 0;
    margin-top: 80px;
    font-size: 10rem;
    border-radius: 100%;
    border: 3px solid #e67e22;
}

#pop-up-account a {
    color: #c0392b;
    text-decoration: none;
}

#pop-up-account #oblibene-recepty {
    color: #fff;
    background-color: #c0392b;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 200px;
}

@media (min-width: 480px) {
    #pop-up-account #login-img {
        margin-top: 20px;
    }

    #pop-up-account table {
        width: 90%;
    }

}

#pop-up-account #oblibene-recepty:hover {
    background-color: #e67e22;
}