@font-face {
    font-family: 'Dosis';
    src: url(../fonts/Dosis-Regular.ttf);
}

@font-face {
    font-family: 'Dosis-Bold';
    src: url(../fonts/Dosis-Bold.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: 'Dosis', sans-serif;
    font-size: 1.8rem;
    color: #c0392b;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgba(230, 126, 34, 0.05);
}

#content {
    flex: 1;
    width: 100%;
    max-width: 800px;
    margin: 60px auto 40px;
    position: relative;
}

#recept {
    display: flex;
    flex-direction: column;
}

#about {
    list-style-type: none;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

#info {
    background: -webkit-linear-gradient(rgba(246, 138, 35, 0.28), white);
    width: 100%;
    height: 150px;
    color: #c0392b;
}

table caption, #description p {
    font-family: 'Dosis-Bold', sans-serif;
}

h3 {
    order: 1;
    margin: 4% 0 5%;
    text-align: center;
    text-transform: uppercase;
}

#content {
    border: 1px solid #c0392b;
    border-radius: 5px;
    background-color: white;
    margin-top: 80px;
}

#pozadiReceptu {
    position:fixed;
    top: 50px;
    bottom: 0px;
    z-index: 10;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.73);
}

#table_ingredience {
    text-align: left;
    border-spacing:0;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #c0392b;
}

#table_ingredience th, #table_ingredience td {
    padding: 5px;
    border: 0.5px solid #c0392b;
}

#table_ingredience td:nth-of-type(2) {
    background-color: rgba(255, 131, 43, 0.15);
}

#table_ingredience caption {
    color: inherit;
    margin-bottom: 10px;
}

#edit-button {
    position: fixed;
    z-index: 5000;
    top: 12px;
    right: 15px;
    /*width: 50px;*/
    /*height: 50px;*/
    color: inherit;
}

#edit-button:hover {
    cursor: pointer;
}

#edit-button > * {
    font-size: 1.5em;
    background-color: #e67e22;
    color: white;
    padding: 5px;
    border-radius: 5px;
}


#basic_text {
    order: 1;
    text-align: center;
}

#content img {
    align-self: flex-start;
    order: 0;
    width: 100%;
    display: block;
    border-bottom: 3px solid #c0392b;
}

#description {
    padding-top: 1%;
    margin: 4% 3% 10%;
    text-align: justify;
    display: block;
}

#description p {
    text-align: center;
    margin-bottom: 5px;
}



#icons {
    text-align: right;
    margin-bottom: 2%;
}

#icons * {
    font-size: 2rem !important;
    margin-right: 2%;
    background-color: #e67e22;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

/*Media Queries*/
@media (min-width: 480px) {

    #edit-button {
        position: fixed;
        z-index: 100;
        top: 100px;
        right: 20px;
    }

    #content {
        width: 90%;
    }

    #recept {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    #about {
        margin: auto;
        display: inline;
        padding: 0;
    }

    #about li {
        display: inline-flex;
        justify-content: center;
        width: 33%;
    }

    h3 {
        font-size: 1.5em;
        order: 0;
        text-align: center;
        width: 100%;
    }

    #basic_text {
        text-align: left;
        width: 45%;
        margin-left: 3%;
    }

    #table_ingredience {
        width: 100%;
    }

    #table_ingredience caption {
        text-align: left;
    }

    #content img {
        width: 45%;
        height: auto;
        order: 1;
        border: none;
        margin-top: 20px;
        margin-right: 3%;
        border-radius: 5px;
    }

    #description {
        border-top: 1px solid #c0392b;
    }

    #description p {
        text-align: left;
    }

    #icons * {
        font-size: 1.5rem;
    }
}

@media (min-width: 720px) {

    #edit-button {
        position: fixed;
        z-index: 100;
        top: 100px;
        right: 50px;
    }
}

/*Print style*/
@media print {
    * {
        font-family: serif;
        color: black;
        background-color: white;
        border-style: none;
    }

    body {
        width: 100%;
    }

    h3 {
        display: block;
        text-align: left;
    }

    #content, #description {
        border-style: none;
    }

    #table_ingredience, #table_ingredience th, #table_ingredience td {
        border: 1px solid black;
        border-radius: 0;

    }

    #content img {
        display: none;
    }

    a {
        text-decoration: none;
    }

    #icons {
        display: none;
    }
}


/*Pseudo Classes*/
#icons .material-icons:hover, #edit-button .material-icons:hover {
    color: white !important;
    background-color: #c0392b !important;
    cursor: pointer;
}
